._c_notes_item {
    margin-bottom: 10px;
    direction: rtl
}

._c_notes_icon {
    width: 52px;
    height: 52px;
    background-color: whitesmoke;
    padding: 10px
}

._c_notes_text {
    margin: 0px 15px 0px 0px;
}

    ._c_notes_text > div:nth-child(1) {
        margin-top: 2px
    }

    ._c_notes_text > div:nth-child(2) {
        margin-top: 2px;
        font-size: 12px
    }