._c_notes_item {
    direction: rtl;
    margin-bottom: 10px;
    border-radius: 15px;
    padding: 5px;
    font-size: 32px;
}

._c_notes_icon {
    width: 56px;
    height: 56px;
    padding-top: 13px;
    background-color: whitesmoke;
    border-radius: 10px;
    font-size: 30px;
    line-height: 30px;
    text-align: center;
    color: silver
}

._c_notes_text {
    margin: 6px 15px 0px 0px;
}

    ._c_notes_text > div:nth-child(1) {
        font-size: 16px;
    }

    ._c_notes_text > div:nth-child(2) {
        margin-top: 2px;
        font-size: 10px;
        direction: rtl
    }

hr {
    margin: 15px 0px 15px 0px;
}