@inherits _c_component

<div class="d-flex flex-row _c_notes_item">
    <div class="_c_notes_icon">
        <img src=@(f_icon()) />
    </div>

    <div class="flex-grow-1 _c_notes_text">
        <div>
            @(g_ttl)
        </div>
        <div style="direction:rtl">
            @(f_date())
        </div>
    </div>
</div>

<hr />