@inherits _c_component

<div class="d-flex flex-row _c_notes_item">
    <div class="_c_notes_icon">
        <img src="img/Notes/text.svg" />
    </div>

    <div class="flex-grow-1 _c_notes_text">
        <div>
            صور حفل التخرج
        </div>
        <div>
            السبت 20 أكتوبر 2023 الساعة 10:43 م
        </div>
    </div>
</div>

<hr />