._c_notes_item {
    direction: rtl
}

._c_notes_icon {
    width: 56px;
    height: 56px;
    padding: 12px;
    background-color: gold;
    color: white;
}

._c_notes_text {
    margin: 8px 15px 0px 0px;
}

    ._c_notes_text > div:nth-child(1) {
        font-size: 14px;
    }

    ._c_notes_text > div:nth-child(2) {
        margin-top: 2px;
        font-size: 10px;
    }

hr {
    margin: 15px 0px 15px 0px;
}