@inherits _c_component

<div class="d-flex flex-row _c_notes_item" @oncontextmenu=@v_selected style="@(f_background())">
    <div class="_c_notes_icon">
        <i class="@f_icon()"></i>
    </div>

    <div class="flex-grow-1 _c_notes_text">
        <div>
            @(g_ttl)
        </div>
        <div>
            @(f_date())
        </div>
    </div>
</div>