@inherits _c_component

<div class="d-flex" style="margin: 10px 5px 20px 10px; direction:rtl">
    <div>
        <i class="fa-solid fa-arrow-right" @onclick=v_back></i>
    </div>
    <div class="flex-grow-1" style="">
        @g_val
    </div>
</div>