@inherits _c_component

<div class="d-flex" style="margin: 10px 5px 20px 10px; font-size:16px; direction:rtl">
    <div style="padding:4px 0px 4px 0px">
        <i class="bi bi-arrow-right" @onclick=v_back></i>
    </div>
    <div class="flex-grow-1" style="padding:4px">
        @g_val
    </div>
</div>