@page "/Chat"

<div class="_c_page">
    <NavBar g_val="المحادثة السريعة"></NavBar>

    <!-- الرسالة -->
    <FieldText @bind-g_val=@r_msg g_plc="الرسالة"></FieldText>

    <!-- المعرف -->
    <FieldPhone @bind-g_val=@r_phn></FieldPhone>

    <div class="_c_button" @onclick=@v_send>
        <i class="fa-brands fa-whatsapp"></i>
    </div>
</div>