@page "/Chat"
<div class="_c_page">
    <NavBar g_val="المحادثة السريعة"></NavBar>

    <!-- الرسالة -->
    <FieldText g_plc="الرسالة"></FieldText>

    <!-- المعرف -->
    <FieldPhone></FieldPhone>

    <div class="_c_button">
        <i class="fa-brands fa-whatsapp"></i>
    </div>
</div>