@page "/Chat"

<div class="_c_page">
    <NavBar g_val="المحادثة السريعة"></NavBar>

    <!-- الرسالة -->
    <FieldText @bind-g_val=@r_msg g_plc="الرسالة"></FieldText>

    <!-- المعرف -->
    <FieldPhone @bind-g_val=@r_phn></FieldPhone>

    <FieldButton g_icn="whatsapp" g_valChanged=@(async()=>{ await v_submit(); })></FieldButton>
</div>