@page "/Codes"

<div style="padding:10px">
    <div class="_c_input_box" style="margin:10px">
        <input class="_c_borderlessinp" type="text" style="width:100%" placeholder="+20xxxxxxxxxx"/>
    </div>

    <div class="_c_button" style="margin-top:20px">محادثة</div>
</div>