@page "/Codes"

<div class="_c_page">
    @if (IsDebug())
    {
        <div class="_c_input_box">
            @(r_msg)
        </div>
    }

    @for (int i_ndx = 0; i_ndx < r_lst.Count; i_ndx++)
    {
        <FieldList g_ndx=@i_ndx.ToString()
                   g_val=@(i_ndx.ToString() + "-" + r_lst[i_ndx].g_val)
                   g_opt=@r_lst[i_ndx].g_chd
                   g_valChanged=@v_selected></FieldList>
    }

    @if (r_val.Contains("📞"))
    {
        <!-- رقم التليفون -->
        <FieldPhone @bind-g_val=@r_vrs.g_phn></FieldPhone>
    }

    @if (r_val.Contains("💰"))
    {
        <!-- القيمة -->
        <FieldAmount @bind-g_val=@r_vrs.g_amt></FieldAmount>
    }

    @if (r_val.Contains("🔑"))
    {
        <!-- الرقم السري -->
        <FieldPIN @bind-g_val=@r_vrs.g_pin></FieldPIN>
    }

    <div class="_c_button" @onclick=@v_dial>
        <i class="fa-solid fa-phone"></i>
    </div>
</div>