@page "/"

<div style="margin:40px; padding:40px; background-color:cornsilk; border-radius:5px">
    <h1>@(r_msgs)</h1>
    <br />

    <button @onclick="v_set_embedded" style="width:100px; height:40px">Embedded</button>
    <br /><br />

    <button @onclick="v_set_camera" style="width:100px; height:40px">Capture</button>
    <br /><br />

    <button @onclick="v_set_studio" style="width:100px; height:40px">Pick</button>
    <br /><br />
</div>