@page "/"

<div class="d-flex flex-column _c_home_page">
    <!-- عنوان الصفحة وزر القائمة -->
    <div class="d-flex flex-row-reverse align-items-center _c_app_bar_top">
        <!-- العناصر على اليسار-->
        <img class="_c_avatar" src="img/profile.svg" />        
        <div class="flex-grow-1"></div>
        <!-- العناصر على اليمين-->
    </div>

    <!-- صندوق البحث -->
    <div class="d-flex justify-content-between _c_search_box">
        <div class="_c_search_icon">
            <i class="fa-solid fa-magnifying-glass"></i>
        </div>
        <input type="text" class="_c_borderlessinp _c_search_input"
            placeholder="مرحبا! اكتب كلمة البحث هنا">
    </div>

    <!-- اقتراحات البحث -->
    <div class="_c_invisible_scroll _c_horizontal_scroll">
        <div class="_c_search_items_box">
            @for (var i_ndx = 0; i_ndx < r_itm.Length; i_ndx++)
            {
                <div class="_c_search_item"
                 style="background-color:@(f_item_color(i_ndx))">
                    @(r_itm[i_ndx])
                </div>
            }
        </div>
    </div>

    <!-- الأدوات -->
    <div class="_c_invisible_scroll _c_vertical_scroll flex-grow-1">
        <!-- الهاتف والاتصال -->
        <div class="_c_title_box">
            الهاتف والاتصال
        </div>

        <div style="background-color: aliceblue"
             class="d-flex flex-row-reverse _c_card" @onclick='async() => { await v_nav("Codes"); }'>
            <img class="_c_card_image" src="img/Home/items/1.png">

            <div class="_c_card_text">
                <div>@(r_itm[1])</div>
                <div>الرصيد والمحافظ الالكترونية وخدمات أخرى</div>
            </div>
        </div>

        <div style="background-color: mintcream;"
             class="d-flex flex-row-reverse _c_card" @onclick='async() => { await v_nav("Chat"); }'>
            <img class="_c_card_image" src="img/Home/items/2.png">

            <div class="_c_card_text">
                <div>@(r_itm[2])</div>
                <div>ارسل رسالة واتساب بدون تسجيل الرقم</div>
            </div>
        </div>

        <!-- المجتمع -->
        <div class="_c_title_box">
            تنظيم المهام
        </div>

        <div style="background-color: white"
             class="d-flex flex-row-reverse _c_card" @onclick='async() => { await v_nav("Test"); }'>
            <img class="_c_card_image" src="img/Home/items/3.png">

            <div class="_c_card_text">
                <div>@(r_itm[3])</div>
                <div>قم يتنظيم الملاحظات، الأماكن، والصور في مكان واحد</div>
            </div>
        </div>
    </div>
</div>