@page "/Index"
@inject NavigationManager r_nav
@inject IJSRuntime JS

@if (r_ocr)
{
    <CmOCRCrop @ref="@r_scn" r_src="@r_src" g_closed="@v_crop"></CmOCRCrop>
}

<div style="height:100vh; max-height:100vh; overflow:hidden; background-image:url('img/bk.jpg'); background-size: 300px 300px;">
    <div style="margin:15px" class="d-flex justify-content-between">
        <div><span class="oi oi-menu"></span></div>
        <div><span class="oi oi-magnifying-glass"></span></div>
    </div>

    <CmWidget></CmWidget>

    <div class="_c_button"
         @onclick="v_set_camera">
        الأكواد المختصرة
    </div>

    <div class="_c_button"
         @onclick="v_set_studio">
        محادثة سريعة
    </div>

    <div class="_c_button">
        @(r_msg)
    </div>
</div>