@page "/Notes"

<div class="_c_page">
    <NavBar g_val="المفكرة"></NavBar>

    <div class="_c_notes_items">
        <FieldItem g_icn="text" g_ttl="اعلان وظيفة محاسب" g_dat="r_random_date()"></FieldItem>
        <FieldItem g_icn="location" g_ttl="مكان ركنة السيارة" g_dat="r_random_date()"></FieldItem>
        <FieldItem g_icn="phone" g_ttl="رقم سائق الأوبر" g_dat="r_random_date()"></FieldItem>
        <FieldItem g_icn="picture" g_ttl="تصميم اعلان مبتكر" g_dat="r_random_date()"></FieldItem>
        <FieldItem g_icn="folder" g_ttl="صور حفل التخرج" g_dat="r_random_date()"></FieldItem>
    </div>
</div>

<div class="_c_add">
    <img src="img/plus.svg"/>
</div>

@code{
    DateTime r_random_date(){
        Random l_rnd = new Random();
        int l_mnt = l_rnd.Next(-10, 0);
        int l_day = l_rnd.Next(-10, 0);
        int l_hur = l_rnd.Next(-10, 0);
        int l_min = l_rnd.Next(-10, 0);

        return DateTime.Now.AddMonths(l_mnt).AddDays(l_day).AddHours(l_hur).AddMinutes(l_min);
    }
}