@page "/Notes"

<div class="_c_page">
    <NavBar g_val="المفكرة"></NavBar>

    <div class="_c_notes_items">
        @for (int i_ndx = 0; i_ndx < 5; i_ndx++)
        {
            <FieldItem></FieldItem>
        }
    </div>
</div>