@page "/Test"

<div class="_c_page">
    <div style=@(f_style())>
        @(r_dns.ToString())
        <br />
        @(r_siz.g_wdt.ToString())
        <br />
        @(r_siz.g_hgt.ToString())
    </div>
</div>